################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRC3/bin/Debug
/.vs/SRC3_2015/v15/Server/sqlite3
/SRC3/obj/Debug
/UpgradeLog.htm
