################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRC3/bin/Debug
/.vs/SRC3_2015/v15/Server/sqlite3
/SRC3/obj/Debug
/UpgradeLog.htm
/.vs/SRC3_2015/v15/.suo
/PlaylistImport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/PlaylistImport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/PlaylistImport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/PlaylistImport/bin/Debug
/PlaylistImport/obj/Debug
/packages/log4net.2.0.8
*.log
